{% extends "base.html" %}

{% block title %}Contacto - Vinoteca Premium{% endblock %}

{% block content %}

<!-- Sección de Contacto -->
<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4">📞 Contáctanos</h2>
        <p class="text-center mb-4">¿Tienes alguna pregunta o comentario? Estamos aquí para ayudarte. Completa el
            formulario y nos pondremos en contacto contigo a la brevedad.</p>

        <!-- Formulario de contacto -->
        <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <!-- Campo Nombre -->
                <div class="col-12 col-md-6 mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <!-- Campo Correo Electrónico -->
                <div class="col-12 col-md-6 mb-3">
                    <label for="email" class="form-label">Correo Electrónico</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>

            <!-- Campo Mensaje -->
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" name="mensaje" rows="5" required></textarea>
            </div>

            <!-- Botón Enviar -->
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-lg">Enviar</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}