{% extends 'base.html' %}
{% load static %}

{% block title %}Tu Carrito - Vinoteca Premium{% endblock %}

{% block content %}
<section class="bg-light py-5">
    <div class="container text-center">
        <h2 class="mb-4">✅ ¡Aqui tienes los detalles de tu carrito!</h2>
        <p>Hola <strong>{{ username }}</strong>. Hemos recibido tu compra y te mostraremos los detalles de los vinos que has seleccionado:</p>

        <div class="alert alert-success mt-4 mx-auto" style="max-width: 600px; text-align: center;">
            <h5>Detalles del carrito:</h5>
            
            <h6>Lista de Vinos:</h6>
            <ul class="list-group">
                {% for wine in cart_items %}
                    <li class="list-group-item">
                        <strong>{{ wine.name }}</strong> - {{ wine.category.name }}<br>
                        <strong>Precio: </strong>${{ wine.price }}
                    </li>
                {% endfor %}
            </ul>

            <h5 class="mt-4">Precio Total: ${{ total_price }}</h5>
        </div>
        <a href="{% url 'remove_user_cart_cookie' %}" class="btn btn-success">Confirmar Compra</a>
    </div>
</section>}
{% endblock %}